:host {
  flex: 1;
  display: flex;
}
.sites-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    margin: 20px;
    height: 120px;
    width: 120px;
    background-color: #414954;
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
    span {
      font-size: 12px;
    }
    fa-icon {
      font-size: 22px;
    }
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.5);
    }
  }
}
